!!! 5
html
	head
		title crosma.us - Coming eventually.
		
		link(rel="stylesheet", href="http://static.crosma.us/css/woo.css")

	body
		#header.
			crosma.us
			
		#desc.
			Node.js and MongoDB developement hosted on Amazon AWS. Maybe MySQL, we'll see. Memcache and Redis could happen some day.
			
		a#nodelink(href="http://nodejs.org/")
