html {
  overflow-y: scroll;
}
body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.alert ul {
  margin-bottom: 0;
}
.objectid {
  display: inline-block;
  padding: 5px 4px 3px 6px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
.well legend {
  border-bottom: 0;
  margin-bottom: 0;
}
.well legend + .control-group {
  margin-top: 0;
}
.well .form-actions {
  margin-bottom: 0;
  padding-bottom: 0;
}
.navbar .brand-nope {
  padding-right: 0;
  padding-left: 0;
  margin-left: 5px;
  margin-right: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 2px rgba(255, 255, 255, 0.225);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}
.pagination {
  margin: 0;
}
[class^="icon-"],
[class*=" icon-"] {
  background-image: url("../../img/glyphicons-halflings.png");
}
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: url("../../img/glyphicons-halflings-white.png");
}
.square {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
