* {
	padding: 0;
	margin: 0;
	
	font: font-family: "Times New Roman", Times, serif;
	
	font-size: 14px;
}

body {
	background: #2B3A42;
}

#header, #desc {
	width: 400px;
	
	background: #BDD4DE;
	border: 1px solid #EFEFEF;
	
	padding: 20px;
	
	text-align: center;
	
	margin: 25px auto 0 auto;
}

#header {
	font-size: 40px;
	line-height: 40px;
	font-weight: bold;
	color: #FF530D;
}

#nodelink {
	background: url(http://nodejs.org/images/logos/nodejs-dark.png);

	display: block;
	margin: 75px auto 0 auto;
}
			
			