* {
	padding: 0;
	margin: 0;
	
	font: font-family: "Times New Roman", Times, serif;
	
	
}

body {
	background: #BDD4DE;
}

a:link, a:hover, a:visited {
	color: #3F5765;
	text-decoration: none;
}
a:hover {
	color #3F5765;
	text-decoration: underline;
}

.bigbox {
	width: 400px;
	
	background: #EFEFEF;
	border: 5px solid #3F5765;
	
	padding: 20px;
	
	text-align: center;
	
	margin: 25px auto 0 auto;
	
	font-size: 15px;
	
	color: #2B3A42;
	
	font-family: 'Overlock', cursive;
	//font-weight: 700;
}


#header {

}

#header .name {
	font-size: 80px;
	line-height: 80px;
	

	font-family: 'Dr Sugiyama', cursive;
	
	margin-bottom: 10px;
	
	color: #FF530D;
}

 #desc {


	

}


#nodelink a  {
	width: 212px;
	height: 114px;
	display: inline-block;

	background: url('/img/nodejs-green.png');
}

#nginxlink a  {
	width: 259px;
	height: 92px;
	display: inline-block;

	background: url('/img/nginx-logo.png');
}

#mongolink a  {
	width: 300px;
	height: 100px;
	display: inline-block;

	background: url('/img/mongodb-logo.png');
}

#amazonlink a  {
	width: 300px;
	height: 109px;
	display: inline-block;
	
	background-size: 300px 109px;

	background: url('/img/amazon-web-services-logo-large.png');
}

#footer {
	width: 400px;
	text-align: center;
	
	font-family: 'Overlock', cursive;
	font-size: 12px;
	
	margin: 35px auto;
}