extends ../includes/layout-main

block content
	.container
		.row
			.hero-unit
				h1 Fuck.
				p An error occured. Fix it.
				
			if config.NODE_ENV != 'production'
				h3 Message
				pre #{err.message}
				
				if err.query
					h3 Query
					pre #{err.query}
				
				h3 Stack Trace
				pre #{err.stack}
					
				h3 The Rest
				pre #{inspect_text}