extends ../includes/layout-admin

block content
	.row
		.offset3.span6
			form.form-horizontal(method="POST")
				legend Are you sure?
				
				.help-block.
					Are you sure you want to delete user #{user.name} (#{user.email}, #{user.user_id})?

				.form-actions
					.btn-group
						button(type="submit").btn.btn-danger Delete User
						a.btn(href="/users") Cancel
					
					