extends ../includes/layout-admin
include ../includes/paginate
 
block content
	table.table.table-striped.table-condensed
		thead
			tr
				th ID
				th Email Address
				th Name
				th Created
				th Edit&nbsp\&nbspDelete
				
		tbody
			for user in users
				tr
					td !{user.user_id}
					td !{user.email}
					td #{user.name}
					td !{date_format.full(user.created_dt)}
					td
						a(href="/user/" + user.user_id + "/edit") Edit
						&nbsp\&nbsp
						a(href="/user/" + user.user_id + "/delete") Delete

					
	.row
		.span10
			mixin paginate("/users/page/", (search ? "/search/" + search : ""), page, page_count)
		.span2
			a.pull-right(href="/user/create") Create User
				