extends ../includes/layout-admin

block content
	.container
		.row
			.hero-unit
				h1 Fuck.
				p An error occured. Fix it.
				
			if self.config.NODE_ENV != 'production'
				h4 Message
				pre #{self.err.message}
				
				if self.err.query
					h4 Query
					pre #{self.err.query}
				
				h4 Stack Trace
				pre #{self.err.stack}
					
				h4 The Rest
				pre #{self.inspect_text}