extends layout-main
block content

	.hero-unit
		h1 Hello, world!
		p.
			Some stuff.
		p
			a.btn.btn-primary.btn-large Learn More.


	.row
		.span3
			h2 Heading
			p Test In span4
			p
				a.btn(href="#") View details...
		
		
		.span9
			h2 Heading
			p.
				Test In span4
			p
				a.btn(href="#") View details...
					
	

	
