extends includes/layout-admin
block content
	.row
		.offset3.span6
			form.form-horizontal(action="/", method="POST")
				fieldset.well
					legend Log In
				
					input(name="action", value="login", type="hidden")
					
					.control-group
						label.control-label(for="email") Email Address
						.controls
							.input-prepend
								.add-on
									i.icon-user
								input.input-large(id="email", name="email", type="text", placeholder="Email Address")
						
					.control-group
						label.control-label(for="password") Password
						.controls
							.input-prepend
								.add-on
									i.icon-lock
								input.input-large(id="password", name="password", type="password", placeholder="Password")
					
					.controls
						input(type="submit", value="Log In").btn.btn-primary.btn-large
	
