extends includes/layout-admin

block content

	.row-fluid
		.span6
			form.form-horizontal(method="POST", autocomplete="off")
				fieldset.well
					legend Purge Static Caches
					
					input(name="action", value="purge_static", type="hidden")
				
					label(for="the_file") File To Purge
					input(id="the_file", name="the_file", type="text", class="input-xlarge", placeholder="Url...", value=self.the_file)
					p.help-block Static or relative url to throw a PURGE request at.
					
					label.checkbox Purge Varnish
						input(id="varnish", name="varnish", type="checkbox", value="yes", checked=self.varnish)
						
					label.checkbox Invalidate CloudFront
						input(id="cloudfront", name="cloudfront", type="checkbox", value="yes", checked=self.cloudfront)
					
					input(type="submit", value="Purge Static").btn
				
		.span6
			form.form-horizontal(method="POST", autocomplete="off")
				fieldset.well
					legend Purge View Cache
					
					input(name="action", value="purge_views", type="hidden")
				
					input(type="submit", value="Purge Views").btn
	
					
		.span6		
			form.form-horizontal(method="POST", autocomplete="off")
				fieldset.well
					legend Clear Chronicle
					
					input(name="action", value="purge_chronicle", type="hidden")
					
					input(type="submit", value="Change It").btn